@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.top-banner-br {
  min-height: 554px;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.top-banner-br__img-wrp {
  position: relative;
  z-index: 1;
}

.top-banner-br__text-wrp {
  max-width: 1440px;
  width: 100%;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 2;
}

.top-banner-br__text {
  max-width: 680px;
  position: relative;
  display: flex;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 10;
}

.top-banner-br__img {
  width: 100%;
}

.top-banner-br__text-width {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1440px) {
  .top-banner-br__text-wrp {
    padding-left: 16px;
    padding-right: 16px;
  }
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

.img-svg {
  opacity: 1;
}

.img-svg svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  transition: 0.2s;
}

label {
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.text-under-banner-calc {
  max-width: 1116px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.main-cont-calc {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.line-calc {
  margin-bottom: 40px;
  border-bottom: 1px solid #c4c4c4;
}

.selection-ups-calc {
  font-family: "Roboto", sans-serif;
}

.selection-ups-calc__heading-wrp {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.selection-ups-calc__btn {
  padding: 8px 18px;
  color: #ffffff;
  background-color: #f5821f;
  border-radius: 8px;
  cursor: pointer;
}

.selection-ups-calc__text {
  margin-right: 60px;
}

.selection-ups-calc__wrp {
  margin-bottom: 40px;
}

.selection-ups-calc-act__cust-radio {
  font-size: 16px;
}

.selection-ups-calc-act__cust-radio + .selection-ups-calc-act__cust-radio {
  margin-bottom: 20px;
}

.selection-ups-calc-act__cust-radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.selection-ups-calc-act__cust-radio span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.selection-ups-calc-act__cust-radio span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.selection-ups-calc-act__cust-radio input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #f5821f;
}

.selection-ups-calc-act__cust-radio input:not(:disabled):active + span::before {
  background-color: #f5821f;
  border-color: #f5821f;
}

.selection-ups-calc-act__cust-radio input:focus + span::before {
  box-shadow: 0 0 0 0.2rem #f5821f91;
}

.selection-ups-calc-act__cust-radio input:focus:not(:checked) + span::before {
  border-color: #f5821f91;
}

.selection-ups-calc-act__cust-radio input:checked + span::before {
  background: #f5821f;
  background: radial-gradient(circle, #f5821f 40%, white 60%);
}

.selection-ups-calc-act__cust-radio input:disabled + span::before {
  background-color: #e9ecef;
}

.selection-ups-calc-act__check {
  display: inline-flex;
  flex-direction: column-reverse;
}

.ups-calc-data {
  padding-left: 0;
}

.ups-calc-data__data-input {
  max-width: 187px;
  border: 1px solid #8A8A8A;
  border-radius: 8px;
  font-size: 16px;
  padding: 12px 69px 8px 16px;
}

.ups-calc-data__data-wrp-text {
  position: relative;
}

.ups-calc-data__data-text {
  font-size: 16px;
  font-weight: 600;
}

.ups-calc-data__data-icon {
  padding-left: 7px;
  cursor: pointer;
}

.ups-calc-data__data-icon:hover__prompt {
  opacity: 1;
}

.ups-calc-data__wrp-text {
  margin-bottom: 15px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.ups-calc-data__pos-cont {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.ups-calc-data__wrp {
  display: flex;
}

.ups-calc-data__icon-wrp {
  position: relative;
}

.ups-calc-data__prompt {
  width: 282px;
  padding: 9px 6px;
  position: absolute;
  bottom: 30px;
  left: -124px;
  background-color: #f1f1f1;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

.ups-calc-data__prompt::before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 10px solid transparent;
  border-top: 10px solid #f0f0f0;
  transition: opacity 0.3s ease-in-out;
}
