.top-banner-lp-br {
  position: relative;
  display: flex;
  justify-content: center;
  @include mobil {
    & {
      margin-bottom: 20px;
      flex-direction: column;
    }
  }
  &__wrp {
    position: relative;
    width: 100%;
    @include mobil {
      margin-bottom: 20px;
    }
  }
  &__img-wrp {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: #a5a5a5;
    @include mobil {
      & {
        height: 237px;
      }
    }
  }
  &__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    @include mobil {
      & {
        display: none;
      }
    }
  }
  &__img-mob {
    display: none;
    @include mobil {
      & {
        display: flex;
        object-fit: cover;
        width: 100%;
        height: 237px;
      }
    }
  }
  &__text-wrp {
    max-width: 1440px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    @include mobil {
      & {
        position: relative;
      }
    }
  }
  &__text-pos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #a5a5a5c7;
    @include textPad {
      & {
        padding-left: 16px;
      }
    }
    @include mobil {
      & {
        margin: 0 auto;
      }
    }
  }
  &__text {
    max-width: 620px;
    padding: 10px 25px;
    background-color: #a5a5a5c7;
    font-family: $fontRobotoReg;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    @include mobil {
      & {
        text-align: center;
        font-size: 26px;
        color: #000000;
        background-color: #ad2a2a00;
      }
    }
  }
}

// html код к баннеру
// <article class="top-banner-lp-br">
//         <section class="top-banner-lp-br__wrp">
//           <div class="top-banner-lp-br__img-wrp">
//             <img
//               class="top-banner-lp-br__img"
//               src="img/bunnerCalculator.jpg"
//               alt="Калькулятор подбора АКБ для ИБП "
//             />
//             <img
//               class="top-banner-lp-br__img-mob"
//               src="img/bunnerCalculatorMob.png"
//               alt="Калькулятор подбора АКБ для ИБП "
//             />
//           </div>
//         </section>
//         <section class="top-banner-lp-br__text-wrp">
//           <div class="top-banner-lp-br__text-pos">
//             <h1 class="top-banner-lp-br__text">
//               Калькулятор подбора АКБ для ИБП
//             </h1>
//           </div>
//         </section>
//       </article>
