// Переменные

$fontRobotoReg: "Roboto", sans-serif;
$mainColor: #f5821f;

// Миксины

@mixin btn {
  padding: 8px 18px;
  color: #ffffff;
  background-color: $mainColor;
  border-radius: 8px;
  cursor: pointer;
}

@mixin boxInput {
  border: 1px solid #8A8A8A;
  border-radius: 8px;
  font-size: 16px;
  padding: 12px 69px 8px 16px;
} 

@mixin dataPrompt {
  width: 282px;
  padding: 9px 6px;
  background-color: #F1F1F1;
  border-radius: 8px;
  z-index: 1;
}